{% extends 'Auth/base.html' %}
{% block title %}
    <title>Home page</title>
{% endblock %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="uname" placeholder="Enter Username"><br><br>
            <input type="password" name="password" placeholder="Enter Old Password"><br><br>
            <input type="email" name="email" placeholder="Enter Registered email Address"><br><br>
            <input type="password" name="newpass" placeholder="Enter New Password"><br><br>
            <input type="password" name="cpass" placeholder="Comfirm New Password"><br><br>
            <div style="color: red;">
                {% if messages %}
                    {% for i in messages %}
                    {{i}}
                    {% endfor %}
                {% endif %}
            </div><br>
            <button type="submit">Change Password</button>

        </form>
    </div>
{% endblock %}