{% extends 'Auth/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <title>Register page</title>
{% endblock %}
{% block content %}
    <div style="width: 40%; margin: 4% 30%;" class="jumbotron">
        <form method="POST">
            <h2 style="text-align: center;margin: 3%;">Registration Form...</h2>
            {% csrf_token %}
            {{form|crispy}}
            <div style="color: red;">
                {% if messages %}
                    {% for i in messages %}
                    {{i}}
                    {% endfor %}
                {% endif %}
            </div><br>
            <button type="submit" class="btn btn-info btn-lg btn-block">Register</button>
        </form><br>
        <hr><hr><br>
        <h6 style="margin: 0% 25%;">Already have an account?<a href="{% url 'login' %}">  Login</a></h6>
    </div>
{% endblock %}